<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#appNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Quiz</a>
    </div>
    <!--div class="collapse navbar-collapse" id="appNavBar">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
          <a routerLink="/home">home</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
              <a routerLink="/admin/question">Question</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
                <a routerLink="/admin/quiz">Quiz</a>
              </li>
          </ul>
        </li>
      </ul>
    </div -->
  </div>
</nav>
